<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p>{{#foreach tags}}<span class="tag is-light"><a href="{{url}}">{{name}}</a></span> {{/foreach}}</p>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div
        class="ya-share2"
        data-services="facebook,twitter,pocket"
        data-lang="en"
        data-title="{{title}}"
        data-url="{{url absolute=true}}"
          {{#if feature_image}}data-image="{{img_url feature_image}}"{{/if}}
      ></div>
    </div>
  </div>
</div>
