{{!< default}}

{{#author}}
  <section class="hero is-dark">
    {{> header}}

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half is-offset-one-quarter">
            <div class="columns is-mobile">
              <div class="column">
                <h1 class="title is-2">{{name}}</h1>
                <div class="field is-grouped">
                  {{#if bio}}<p class="subtitle is-5">{{bio}}</p>{{/if}}
                  <p class="control">
                    <a class="button is-rss" href="{{url}}rss/">
                      <span class="icon"><i class="fa fa-rss"></i></span>
                      <span>Subscribe</span>
                    </a>
                  </p>
                  {{#if facebook}}
                  <p class="control">
                    <a class="button is-facebook" href="{{facebook_url facebook}}">
                      <span class="icon"><i class="fa fa-facebook"></i></span>
                      <span>Facebook</span>
                    </a>
                  </p>
                  {{/if}}
                  {{#if twitter}}
                  <p class="control">
                    <a class="button is-twitter" href="{{twitter_url twitter}}">
                      <span class="icon"><i class="fa fa-twitter"></i></span>
                      <span>Twitter</span>
                    </a>
                  </p>
                  {{/if}}
                </div>
              </div>

              {{#if profile_image}}
                <div class="column is-narrow">
                  <figure class="image is-96x96 is-rounded"><img src="{{img_url profile_image}}"></figure>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/author}}

{{> loop}}
