<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{asset "css/oolong.css"}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/5bbf256271.css">
    <link rel="stylesheet" href="{{asset "css/github.min.css"}}">

    {{ghost_head}}
  </head>
  <body>
    {{{body}}}

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>All content copyright <strong>{{@blog.title}}</strong> &copy; {{date format="YYYY"}}</p>
          <p>
            <a href="http://bulma.io">Bulma</a> by <a href="http://jgthms.com">Jeremy Thomas</a>.
            Icons by <a href="http://fontawesome.io/">Font Awesome</a>.
            Proudly published with <a href="https://ghost.org">Ghost</a>.
          </p>
        </div>
      </div>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{ghost_foot}}
  </body>
</html>
