<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#F5F5F5">

    <link rel="stylesheet" href="{{asset "css/oolong.css"}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/5bbf256271.css">
    <link rel="stylesheet" href="{{asset "css/github.min.css"}}">

    {{ghost_head}}
  </head>
  <body>
    {{{body}}}

    <footer class="footer">
      <div class="container">
        <div class="has-text-centered">
          <p>
            All content copyright <strong>{{@blog.title}}</strong> &copy; {{date format="YYYY"}}<br><br>
            <a href="https://github.com/eigenein/oolong">Oolong</a> theme by <a href="http://eigenein.me">Pavel Perestoronin</a>.
            <a href="http://bulma.io">Bulma</a> by <a href="http://jgthms.com">Jeremy Thomas</a>.
            Icons by <a href="http://fontawesome.io/">Font Awesome</a>.
            Proudly published with <a href="https://ghost.org">Ghost</a>.
          </p>
        </div>
      </div>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>

    <script>
      // Append custom social links to the header.
      (function () {
        var appendSocialLink = function (icon, href) {
          var $link = document.createElement("a");
          $link.setAttribute("class", "nav-item");
          $link.setAttribute("href", href);
          $link.innerHTML = '<span class="icon"><i class="fa ' + icon + '"></i></span>';
          $navSocial.appendChild($link);
        };

        var icons = {
          "vk-url": "fa-vk",
          "telegram-url": "fa-paper-plane",
          "linkedin-url": "fa-linkedin",
          "stack-overflow-url": "fa-stack-overflow",
          "google-plus-url": "fa-google-plus"
        };

        var $navSocial = document.getElementById("nav-social");
        var $metaTags = document.getElementsByTagName("meta");

        for (var i = 0; i < $metaTags.length; i++) {
          var name = $metaTags[i].getAttribute("name");
          if (icons[name]) {
            appendSocialLink(icons[name], $metaTags[i].getAttribute("content"));
          }
        }
      })();
    </script>

    {{ghost_foot}}
  </body>
</html>
