{{!< default}}

<section class="hero is-light">
  {{> header}}

  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half is-offset-one-quarter">
          <div class="columns is-mobile">
            <div class="column">
              {{#if @blog.title}}<h1 class="title is-2">{{@blog.title}}</h1>{{/if}}
              {{#if @blog.description}}<p class="subtitle is-4">{{@blog.description}}</p>{{/if}}
              <a class="button is-success" href="{{@blog.url}}/rss/">
                <span class="icon"><i class="fa fa-rss"></i></span>
                <span>Subscribe</span>
              </a>
            </div>

            {{#if @blog.logo}}
              <div class="column is-narrow">
                <figure class="image is-96x96 is-rounded"><img src="{{@blog.logo}}"></figure>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{navigation}}

{{> loop}}
